In [1]:
import math
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
data =pd.read_table('Desktop\Classified Data',sep=',')

In [5]:
data.head()

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
0,0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
1,1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702,0
2,2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597,0
3,3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093,1
4,4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
scaler=StandardScaler()

In [9]:
scaler.fit(data.drop('TARGET CLASS',axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [10]:
scaled_features=scaler.transform(data.drop('TARGET CLASS',axis=1))

In [14]:
data_feat=pd.DataFrame(scaled_features,columns=data.columns[:-1])
data_feat.head()

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ
0,-1.730320,-0.123542,0.185907,-0.913431,0.319629,-1.033637,-2.308375,-0.798951,-1.482368,-0.949719,-0.643314
1,-1.726856,-1.084836,-0.430348,-1.025313,0.625388,-0.444847,-1.152706,-1.129797,-0.202240,-1.828051,0.636759
2,-1.723391,-0.788702,0.339318,0.301511,0.755873,2.031693,-0.870156,2.599818,0.285707,-0.682494,-0.377850
3,-1.719927,0.982841,1.060193,-0.621399,0.625299,0.452820,-0.267220,1.750208,1.066491,1.241325,-1.026987
4,-1.716463,1.139275,-0.640392,-0.709819,-0.057175,0.822886,-0.936773,0.596782,-1.472352,1.040772,0.276510

In [15]:
from sklearn.model_selection import train_test_split

In [17]:
Xtrain,Xtest,ytrain,ytest=train_test_split(scaled_features,data_feat,test_size=0.30,random_state=29)

In [18]:
Xtrain.shape,Xtest.shape,ytrain.shape,ytest.shape

((700, 11), (300, 11), (700, 11), (300, 11))

In [19]:
data_feat.shape

(1000, 11)

In [26]:
from sklearn.neighbors import KNeighborsClassifier

In [27]:
error_rate=[]

In [31]:
for i in range(1,40):
    
knn=KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train,y_train)
pred_i=knn.predict(Xtest)

IndentationError: expected an indented block (<ipython-input-31-e22a9c853a07>, line 3)